* {margin: 0; padding: 0;}
li { list-style: none;}
a {text-decoration: none;}

.claerfix::after { content: ''; display: block; clear: both; height: 0;}

header { border: 2px solid black; position: relative; height: 74px;}

header h1 {float: left; height: 74px; line-height: 74px; text-align: center;}

header .category {height: 36px; margin: 19px 0; float: left;}
.category > li { float: left; position: relative; margin: 0 auto;}
.category > li > a {padding: 0 20px; height: 36px; line-height: 36px; text-align: center; display: block;}

.main-slider {position: relative; border: 3px solid blue; height: 400px;}

.box { width: 900px; margin: 0 auto; border: 3px solid gray; height: 340px; margin-top: 25px;}


footer {border: 2px solid black; position: relative; height: 74px; top: 35px;}
footer h1 {float: left; height: 74px; line-height: 74px; text-align: center;}
footer .info { width: 40%; margin: 0 auto; text-align: center;}